/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.component {
  padding: 13px;
}

.pre-grey {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  font-size: 13px;
  padding: 5px;
}
